<div class="sidebar" role="aside" style="background-image: url({{#if @blog.cover}}{{@blog.cover}}{{else}}http://quangteomedia.com/content/images/2015/10/green-abstract-background-optimized.jpg{{/if}})">
    <header class="header" role="banner">
        {{! The logo of the blog }}
        <a href="/"><img id="blog" class="logo" src="{{@blog.logo}}"></a>

        {{! The title of the blog }}
        <h1 class="title"><a href="/">{{@blog.title}}</a></h1>

        {{! The description of the blog }}
        <p class="description">{{@blog.description}}</p>

        {{! Small separator between user details and menu }}
        <div class="separator"></div>

        {{! Navigation menu }}
        {{> "nav"}}

        {{#post}}
        {{#if author}}
            <div class="dotted-separator"></div>
            <div class="author">
                <section class="author-name">{{author.name}}</section>
                <section class="author-bio">{{author.bio}}</section>
            </div>
            <div class="dotted-separator"></div>
        {{/if}}
        {{/post}}

        {{! Social links }}
        {{> "social"}}
    </header>

    {{! Site footer }}
    {{> "footer"}}
</div>
