<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    {{#if post}}
    <meta name="keywords" content="{{#each post.tags}}{{name}},{{/each}}" />
    {{else}}
    <meta name="keywords" content="Quang teo, quangteo, quangteomedia, quangteo media, ruby, rails, php, engineering, nano, ubuntu" />
    {{/if}}

    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Favicons. I used http://realfavicongenerator.net/ - a great favicons generator. }}
    <link rel="shortcut icon" href="{{asset "favicons/favicon.ico"}}">
    <link rel="android-chrome" sizes="36x36" href="{{asset "favicons/android-chrome-36x36.png"}}">
    <link rel="android-chrome" sizes="48x48" href="{{asset "favicons/android-chrome-48x48.png"}}">
    <link rel="android-chrome" sizes="72x72" href="{{asset "favicons/android-chrome-72x72.png"}}">
    <link rel="android-chrome" sizes="96x96" href="{{asset "favicons/android-chrome-96x96.png"}}">
    <link rel="android-chrome" sizes="144x144" href="{{asset "favicons/android-chrome-144x144.png"}}">
    <link rel="android-chrome" sizes="192x192" href="{{asset "favicons/android-chrome-192x192.png"}}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{asset "favicons/apple-touch-icon-57x57.png"}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{asset "favicons/apple-touch-icon-60x60.png"}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{asset "favicons/apple-touch-icon-72x72.png"}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{asset "favicons/apple-touch-icon-76x76.png"}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{asset "favicons/apple-touch-icon-114x114.png"}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{asset "favicons/apple-touch-icon-120x120.png"}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{asset "favicons/apple-touch-icon-144x144.png"}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{asset "favicons/apple-touch-icon-152x152.png"}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset "favicons/apple-touch-icon-180x180.png"}}">
    <link rel="icon" type="image/png" href="{{asset "favicons/favicon-96x96.png"}}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{asset "favicons/favicon-16x16.png"}}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{asset "favicons/favicon-32x32.png"}}" sizes="32x32">
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="msapplication-TileImage" content="{{asset "favicons/mstile-144x144.png"}}" />
    <meta name="msapplication-config" content="{{asset "favicons/browserconfig.xml"}}" />

    {{! Styles }}
    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{asset "build/all.min.css"}}" />

    {{! Google Analytics }}
    {{> "analytics"}}

    {{! Twitter card }}
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@quangteomedia" />
    <meta property="twitter:title" content="{{meta_title}}" />
    {{#if post}}
        {{#post}}
            <meta property="twitter:description" content="{{excerpt characters=180}}" />
        {{/post}}
    {{else}}
        <meta property="twitter:description" content="{{meta_description}}" />
    {{/if}}

    {{! Open Graph }}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{meta_title}}" />
    {{#if post}}
        {{#post}}
            <meta property="og:description" content="{{excerpt words=50}}" />
        {{/post}}
    {{else}}
        <meta property="og:description" content="{{meta_description}}" />
    {{/if}}
    <meta property="og:image" content="http://i350.photobucket.com/albums/q413/quangteomedia/quangteo-media-lebich.jpg" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />


    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{> "sidebar"}}

    <div class="content">
        {{{body}}}
    </div>

    {{! Site footer }}
    <div class="body-footer">
        {{> "footer"}}
    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! JS}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{{asset "build/all.min.js"}}"></script>
    {{! Init HighlightJS}}
    <script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
