{{!< default}}

<main role="main">
    <article class="{{post_class}}" role="article" itemscope itemtype="http://schema.org/Article">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

        {{! Everything below outputs content of the the post which has been published }}
        <h1 class="post-title">{{{title}}}</h1>
        <hr>
        <section class="post-content">
            {{content}}
        </section>
        <span class="post-meta">
            <span class="icon icon-user"></span>
            by <a href="http://tumblr.quangteomedia.com" target="_blank">{{author.name}}</a>
            <br />
            <span class="icon icon-clock"></span>
            <time datetime="{{date format="YYYY-MM-DD"}}">
                {{date format='DD MMM YYYY'}}
            </time>
            {{#if tags}}
                <span class="icon icon-tag-1"></span>{{tags separator=" &bull; "}}
            {{/if}}
        </span>

        <footer class="post-footer">
            <section class="share">
                <h4 class="post-share">Share this post</h4>
                <ul>
                    <li><a href="https://plus.google.com/share?url={{url absolute="true"}}"
                           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                        <i class="icon icon-gplus"></i>
                    </a></li>
                    <li><a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                           onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                        <i class="icon icon-twitter"></i>
                    </a></li>
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                           onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                        <i class="icon icon-facebook"></i>
                    </a></li>
                </ul>
            </section>
        </footer>

        <section class="post-comments">
            {{> "disqus"}}
        </section>
        {{/post}}

    </article>
</main>
